<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >

<suite name = "NG Metering Application Sanity Test Suite">

	<listeners>
		<listener class-name="com.ibm.ExtentReportListener.ExtentReportListener" />
	</listeners>
	
   <test name = "NG Metering Application Sanity Test Cases">
      <classes>
         <class name = "com.ibm.sanity.tests.NG_Metering_App_URL_Test" />
         <class name = "com.ibm.sanity.tests.NG_Metering_App_LoginTest" />
         <class name = "com.ibm.sanity.tests.NG_Metering_App_DB_Connectivity_Test" /> 
         <class name = "com.ibm.sanity.tests.NG_Metering_App_SAP_Rainbow_Test" />
         <class name = "com.ibm.sanity.tests.NG_Metering_App_SAP_Phoenix_Test" /> 
           <!-- comment syntax -->
      </classes>
   </test>
</suite>	